/* Variable of Colors and Size */
/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
/* Mes Mixins */
/* --- Display flex Mixins --- */
/* General property and default property override.
./sass/base/base_styles.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #000;
  font-weight: 400;
  background: none;
  border: none;
  outline: none;
}

body {
  min-height: 100vh;
  width: 100%;
}

.App {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(-6deg, #fd2d01, #ffd7d7, #fff, #ffd7d7, #fd2d01);
}

h1 {
  padding: 1rem;
  text-align: center;
  font-size: 3rem;
}

button {
  padding: 0.5rem;
}
button:hover {
  cursor: pointer;
}

/* Landing Page CSS
./sass/pages/landing-page.scss */
/* Header */
.landing-page-header {
  height: 300px;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-page-header p {
  font-size: 1.5rem;
}

.landing-page-main {
  display: flex;
  justify-content: center;
}

.groupomania-header {
  width: 100%;
  min-height: 10vh;
  border-left: solid 2px #4e5166;
  border-right: solid 2px #4e5166;
  border-bottom: solid 2px #4e5166;
}

.groupomania-header h1 {
  font-size: 2rem;
  padding: 0.5rem;
  color: #fff;
  font-weight: bold;
}

.groupomania-header > div {
  position: absolute;
  top: 1vh;
  margin-left: 1rem;
}

.groupomania-main {
  width: 100%;
  height: 90vh;
  border-left: solid 2px #4e5166;
  border-right: solid 2px #4e5166;
  background: #fff;
}

@media all and (min-width: 600px) {
  .groupomania-header {
    max-width: 600px;
  }
  .groupomania-main {
    max-width: 600px;
  }
}
/* Block Connection CSS
./sass/components/block-connection.scss */
.login-block {
  width: 350px;
  margin: 40px 0 0;
  padding: 1rem 1rem 2rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.login-block h2 {
  height: 3rem;
  width: 100%;
  text-align: center;
  color: #fd2d01;
  font-size: 2rem;
}

.form-input-block {
  position: relative;
  width: 100%;
  margin: 0 0 1rem;
}

.form-input-block label {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 0 0.5rem;
  color: #fd2d01;
}

.form-input-block input {
  height: 3rem;
  width: 100%;
  padding: 0 1rem;
  border: 2px solid #aaa;
  border-radius: 0.5rem;
  box-shadow: none;
}

.form-input-block input:focus {
  outline: none;
  border-color: #fd2d01;
}

.btn-submit {
  height: 3rem;
  width: 100%;
  padding: 0 1rem;
  margin: 0 0 1rem;
  border: none;
  border-radius: 0.5rem;
  background: #ffd7d7;
  font-weight: bold;
}

.login-block-nav {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-top: 2px solid #aaa;
}

.btn-nav {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  color: #fff;
  background: #fd2d01;
  font-weight: bold;
}

.succes-message {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  background-color: #14be14;
}

.succes-message svg {
  font-size: 2rem;
  margin-right: 1rem;
}

.error-message {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  background-color: #fd2d01;
}

.error-message svg {
  font-size: 2rem;
  margin-right: 1rem;
}

.feed-header {
  height: 40px;
  border-bottom: solid 2px #4e5166;
  overflow: hidden;
}

.groupomania-main h2 {
  width: 100%;
  text-align: center;
  padding: 0.4rem 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.feed {
  height: calc(100% - 80px - 40px);
  padding: 1rem 0.5rem;
  overflow: scroll;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.feed::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

.feed::-webkit-scrollbar-track {
  background: none; /* color of the tracking area */
  margin: 0.5rem;
}

.feed::-webkit-scrollbar-thumb {
  margin: 4px;
  background-color: #fd2d01; /* color of the scroll thumb */
  border-radius: 8px; /* roundness of the scroll thumb */
  /* border: 3px solid orange; creates padding around scroll thumb */
}

.post {
  width: 100%;
  margin: 1rem 0;
}
.post .email {
  width: 100%;
  margin: 0.3rem 0;
}
.post .date {
  width: 100%;
  margin: 0.3rem 0;
}
.post .post-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(#fff, #ffd7d7);
}
.post .post-footer button {
  padding: 0.5rem;
}
.post .post-footer button:hover {
  cursor: pointer;
  background: #ffbebe;
}

.feed-new-post {
  height: 80px;
  background-color: #ffd7d7;
  border-top: solid 2px #4e5166;
}

.feed-new-post-form {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.feed-new-post-form label {
  height: 40%;
  padding: 0.5rem 1rem;
}
.feed-new-post-form div {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.feed-new-post-form div input[type=text] {
  width: 65%;
  height: 2rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #fff;
}
.feed-new-post-form div button {
  width: 25%;
  height: 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #fd2d01;
  box-shadow: 0 0 4px #ffd7d7;
}

/*# sourceMappingURL=style.css.map */
