/* Variable of Colors and Size */
/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
/* Mes Mixins */
/* --- Display flex Mixins --- */
/* General property and default property override.
./sass/base/base_styles.scss */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #000;
  font-weight: 400;
  background: none;
  border: none;
  outline: none;
}

body {
  min-height: 100vh;
  width: 100%;
}

.App {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
  color: #fd2d01;
}

h1 {
  padding: 1rem;
  font-size: 3rem;
  text-align: center;
}

h2 {
  padding: 0.5rem;
  font-size: 2rem;
}

h3,
h4 {
  padding: 0.5rem;
  font-size: 1.5rem;
}

button {
  padding: 0.5rem;
  background: #ffd7d7;
}
button:hover {
  cursor: pointer;
}

a {
  padding: 0.5rem;
}

.btn {
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background: #ffd7d7;
  font-weight: 600;
}
.btn:hover {
  cursor: pointer;
}

.submit {
  height: 3rem;
  width: 100%;
  background: #d2ffdf;
}

.pad1 {
  padding: 1rem;
}

.valid {
  background: #2cff6c;
}

/* Landing Page CSS
./sass/pages/landing-page.scss */
/* Header */
.landing-page-header {
  max-width: 600px;
  height: 200px;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-page-header p {
  font-size: 1.5rem;
  text-align: center;
}

.landing-page-main {
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
}

.groupomania-header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: solid 2px #4e5166;
  border-right: solid 2px #4e5166;
  border-bottom: solid 2px #4e5166;
}
.groupomania-header h1 {
  padding: none;
}

.block-disconnect {
  position: absolute;
  top: 0;
  left: 2px;
  display: flex;
  flex-direction: column;
}
.block-disconnect * {
  font-size: 1.5rem;
}
.block-disconnect button {
  padding: 0.1rem;
  margin: 2px;
}

.block-userid {
  position: absolute;
  top: 0;
  right: 2px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.block-userid * {
  font-weight: 600;
}
.block-userid p {
  padding-right: 0.5rem;
}

.groupomania-main {
  width: 100%;
  height: 90vh;
  border-left: solid 2px #4e5166;
  border-right: solid 2px #4e5166;
}

@media all and (min-width: 600px) {
  .groupomania-header {
    max-width: 600px;
  }
  .block-disconnect {
    left: calc(50% - 298px);
  }
  .block-userid {
    right: calc(50% - 298px);
  }
  .groupomania-main {
    max-width: 600px;
  }
}
/* Block Connection CSS
./sass/components/block-connection.scss */
.login-block {
  width: 350px;
  margin-top: 40px;
  padding: 0.5rem 1rem 1rem;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.login-block h2 {
  text-align: center;
}
.login-block nav {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #4e5166;
}
.login-block button {
  margin-bottom: 1rem;
}
.login-block a {
  width: 100%;
  text-align: center;
}

.form-input-block {
  width: 100%;
  margin: 0 0 1rem;
}
.form-input-block label {
  display: flex;
  justify-content: center;
  margin: 0 0 0.5rem;
  color: #fd2d01;
}
.form-input-block input {
  height: 3rem;
  width: 100%;
  padding: 0 1rem;
  border: 2px solid #4e5166;
  border-radius: 0.5rem;
  box-shadow: none;
  font-weight: 600;
  color: #4e5166;
}
.form-input-block input:focus {
  outline: none;
  border-color: #fd2d01;
  background: #ffd7d7;
  color: #000;
}

.color-valid {
  background: #2cff6c;
}

.succes-message {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  background-color: #2cff6c;
}

.succes-message svg {
  font-size: 2rem;
  margin-right: 1rem;
}

.error-message {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  background-color: #ff412c;
}

.error-message svg {
  font-size: 2rem;
  margin-right: 1rem;
}

.feed-header {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 2px #4e5166;
  overflow: hidden;
}

.feed-header h2 {
  text-align: center;
  padding: none;
}

.feed {
  height: calc(100% - 80px - 40px);
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.feed::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

.feed::-webkit-scrollbar-track {
  background: none; /* color of the tracking area */
  margin: 0.5rem;
}

.feed::-webkit-scrollbar-thumb {
  margin: 4px;
  background-color: #fd2d01; /* color of the scroll thumb */
  border-radius: 8px; /* roundness of the scroll thumb */
  /* border: 3px solid orange; creates padding around scroll thumb */
}

.post {
  width: 100%;
  padding: 1rem 0.5rem 0;
}
.post .name {
  width: fit-content;
  margin: 0.3rem 0 0;
  background: #ffd7d7;
  padding: 0.2rem 0.7rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  font-weight: 600;
  font-size: 1.2rem;
}
.post .date {
  width: 100%;
  margin: 0 0 0.5rem;
  padding: 0.4rem 0.7rem;
  background: #ffd7d7;
  border-top-right-radius: 0.5rem;
  font-weight: 600;
}
.post .post-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.post .post-footer button {
  padding: 0.5rem;
  background: transparent;
}
.post .post-footer button:hover {
  cursor: pointer;
}

.feed-new-post {
  height: 80px;
  background-color: #ffd7d7;
  border-top: solid 2px #4e5166;
}

.feed-new-post-form {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.feed-new-post-form label {
  height: 40%;
  padding: 0.5rem 1rem;
  font-weight: 600;
}
.feed-new-post-form div {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.feed-new-post-form div input[type=text] {
  width: 65%;
  height: 2rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #fff;
}
.feed-new-post-form div button {
  width: 25%;
  height: 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #2cff6c;
  box-shadow: 2px 2px 3px #4e5166;
}

.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: solid 2px #4e5166;
}
.edit-form label {
  padding: 0.4rem;
  color: #fd2d01;
  font-weight: bold;
}
.edit-form textarea {
  width: 90%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: #ffd7d7;
}
.edit-form div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}
.edit-form button {
  border-radius: 0.5rem;
  background: #2cff6c;
}
.edit-form a {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: #ff412c;
}

/*# sourceMappingURL=style.css.map */
