.feed-header {
  height: 40px;
  width: 100%;
  @include display-flex-center-center;
  border-bottom: solid 2px $color-tertiary;
}

.feed {
  height: calc(100% - 140px - 40px);

  @include display-flex-column;

  padding: 0.5rem;

  @include feed-scrollbar;
}

.post {
  width: 100%;
  margin: 1rem 0;
}
.name {
  width: fit-content;
  margin: 0.3rem 0 0;
  background: $color-secondary;
  padding: 0.2rem 0.7rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  font-weight: 600;
  font-size: 1.2rem;
}
.date {
  width: 100%;
  padding: 0.4rem 0.7rem;
  background: $color-secondary;
  border-top-right-radius: 0.5rem;
  font-weight: 600;
}
.message {
  padding: 0.7rem;
  border-left: 0.2rem solid $color-secondary;
  border-right: 0.2rem solid $color-secondary;
}
.post-footer {
  width: 100%;
  display: flex;

  padding-bottom: 0;
  background: $color-secondary;

  justify-content: space-between;
  border-left: 0.2rem solid $color-secondary;
  border-right: 0.2rem solid $color-secondary;
  border-bottom: 0.2rem solid $color-secondary;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  overflow: hidden;
  button:hover {
    cursor: pointer;
  }
}
.likeble-block {
}
.liked-block {
}
.disliked-block {
}
.modifie-button {
  padding: 0;
  a {
    padding: 0.5rem;
    background: $color-valid;
  }
}
.delete-button {
  background: $color-cancel;
}

.feed-new-post {
  height: 140px;
  background-color: $color-secondary;
  border-top: solid 2px $color-tertiary;
}
.feed-new-post-form {
  min-height: 100%;
  width: 100%;
  @include display-flex-column;
  label {
    height: 40%;
    padding: 0.5rem 1rem;
    font-weight: 600;
  }
  div {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    input[type="text"] {
      width: 65%;
      height: 2rem;
      border-radius: 0.5rem;
      padding: 0.5rem 1rem;
      background-color: #fff;
    }
    button {
      width: 25%;
      height: 2rem;
      border: none;
      border-radius: 0.5rem;
      background-color: $color-valid;
      box-shadow: 2px 2px 3px $color-tertiary;
    }
  }
}
