.feed-header {
  height: 40px;
  @include display-flex-center-center;
  border-bottom: solid 2px $color-tertiary;
  overflow: hidden;
}

.feed-header h2 {
  text-align: center;
  padding: none;
}

.feed {
  height: calc(100% - 80px - 40px);

  display: flex;
  flex-direction: column;

  overflow: scroll;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.feed::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

.feed::-webkit-scrollbar-track {
  background: none; /* color of the tracking area */
  margin: 0.5rem;
}

.feed::-webkit-scrollbar-thumb {
  margin: 4px;
  background-color: $color-primary; /* color of the scroll thumb */
  border-radius: 8px; /* roundness of the scroll thumb */
  /* border: 3px solid orange; creates padding around scroll thumb */
}

.post {
  width: 100%;
  padding: 1rem 0.5rem 0;
  .name {
    width: fit-content;
    margin: 0.3rem 0 0;
    background: $color-secondary;
    padding: 0.2rem 0.7rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    font-weight: 600;
    font-size: 1.2rem;
  }
  .date {
    width: 100%;
    margin: 0 0 0.5rem;
    padding: 0.4rem 0.7rem;
    background: $color-secondary;
    border-top-right-radius: 0.5rem;
    font-weight: 600;
  }
  .post-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    button {
      padding: 0.5rem;
      background: transparent;
    }
    button:hover {
      cursor: pointer;
    }
  }
}

.feed-new-post {
  height: 80px;
  background-color: $color-secondary;
  border-top: solid 2px $color-tertiary;
}
.feed-new-post-form {
  min-height: 100%;
  width: 100%;
  @include display-flex-column;
  label {
    height: 40%;
    padding: 0.5rem 1rem;
    font-weight: 600;
  }
  div {
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    input[type="text"] {
      width: 65%;
      height: 2rem;
      border-radius: 0.5rem;
      padding: 0.5rem 1rem;
      background-color: #fff;
    }
    button {
      width: 25%;
      height: 2rem;
      border: none;
      border-radius: 0.5rem;
      background-color: $color-valid;
      box-shadow: 2px 2px 3px $color-tertiary;
    }
  }
}
