.feed-form {
  @include display-flex-column;
  height: 100%;
  label {
    padding: 0.4rem;
    color: $color-primary;
    font-weight: bold;
  }
  textarea {
    height: 100%;
    width: 80%;
  }
  & > div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 1rem 0.5rem;
    & > div {
      @include display-flex-column-align-center;
      justify-content: space-evenly;
      height: 100%;
      width: 20%;
      padding: 0.3rem;
    }
  }
  button {
    border-radius: 0.5rem;
    background: $color-valid;
    font-weight: 600;
  }
  a {
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: $color-cancel;
    font-weight: 600;
  }
}
