/* Landing Page CSS
./sass/pages/landing-page.scss */

/* Header */
.landing-page-header {
  height: 300px;
  padding: 0 2rem;
  @include display-flex-column-center-center;
}

.landing-page-header p {
  font-size: 1.5rem;
}

.landing-page-main {
  @include display-flex-content-center;
}
