/* Landing Page CSS
./sass/pages/landing-page.scss */

/* Header */
.landing-page-header {
  max-width: 600px;
  height: 200px;
  padding: 0 2rem;
  @include display-flex-column-center-center;
}

.landing-page-header p {
  font-size: 1.5rem;
  text-align: center;
}

.landing-page-main {
  padding-bottom: 60px;
  @include display-flex-content-center;
}
